@import "src/styles/mixins/layout";

.inputPasswordWrap {
  position: relative;

  input {
    padding-right: 56px;
  }
}

.btnVisibility {
  @include absolute-layout('vertical');
  right: 8px;
  padding: 8px;
}
